# Python
__pycache__/
*.pyc
*.pyo
.env

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv
*.json

# VS Code
.vscode/

# OS
.DS_Store        # Mac
Thumbs.db        # Windows

# Executables
chrome
chromedriver
chrome*
